---
import LoginButton from "@/components/login-button";
import RadixProvider from "@/components/radix-provider";
import RootLayout from "@/layouts/root-layout.astro";
import { Card } from "@radix-ui/themes";

const { user } = Astro.locals;
if (user) {
  return Astro.redirect("/");
}
---

<RootLayout>
  <RadixProvider>
    <main class="flex items-center justify-center h-screen">
      <Card className="w-full max-w-md">
        <footer class="grid grid-cols-2 gap-3">
          <LoginButton provider="google" />
          <LoginButton provider="github" />
        </footer>
      </Card>
    </main>
  </RadixProvider>
</RootLayout>
